---

---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>Repro Repo</title>
    <link href="/config.json" type="application/json" rel="cms-config-url" />
  </head>
  <body>
    <noscript>Sveltia CMS requires JavaScript to run in this starter.</noscript>
    <script>
      import { init } from "@sveltia/cms";
      init({});
    </script>
  </body>
</html>
